<!DOCTYPE html>
<html>
  <head>
    <title>Clonegram</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>
    <nav class="navbar navbar-dark">
      <% if user_signed_in? %>
        <%= link_to image_tag("logo.png", size: "195x50", class: "navbar-brand float-left", alt: "logo"), dashboard_path %>
        <ul class="navbar-nav float-right">
          <li  class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= image_tag(current_user.profile_picture, size: "50x50") %>
              <strong><%= current_user.username %></strong>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><%= link_to "View profile", profile_path %></li>
              <li><%= link_to "Sign out", logout_path %></li>
            </ul>
          </li>
        </ul>
      <% else %>
        <%= link_to image_tag("logo.png", size: "195x50", class: "navbar-brand float-left", alt: "logo"), root_path %>
        <ul class="navbar-nav float-right">
          <li class="nav-item"><strong><%= link_to "Sign in", login_path %></strong></li>
        </ul>
      <% end %>
    </nav>

    <% if flash[:notice].present? %>
      <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= flash[:notice] %>
      </div>
    <% elsif flash[:alert].present? %>
      <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= flash[:alert] %>
      </div>
    <% end %>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
